@media (max-width: 1600px) {
  section {
    height: 90vh;
  }
  #theory .text {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  section {
    height: 90vh;
    background-color: #fff;
  }
  img {
    width: 100%;
  }
  .circle-items__wrapper {
    flex-wrap: wrap;
    width: 90%;
  }
}
@media (max-width: 980px) {
  .circle-items__wrapper {
    flex-wrap: wrap;
    width: 90%;
  }
  section {
    height: 100%;
    margin-bottom: 100px;
  }
}
@media (max-width: 860px) {
  .container {
    padding: 0 1rem;
  }
  #summary {
    height: 50vh;
  }
  .box-wrapper {
    margin: 14px auto;
  }
  .box-first {
    margin-top: 60px;
  }
  .nav-item {
    display: none;
  }
  .sign {
    transform: rotate(90deg);
  }
  .box-item {
    margin-bottom: 10px;
  }
  .table-items {
    flex-direction: column;
    align-items: center;
  }
  .item {
    margin-bottom: 14px;
  }
  .circle-items__wrapper {
    flex-direction: column;
  }
  .circle-item {
    flex-direction: row;
  }
  .circle-article {
    margin-top: 85px;
    margin-bottom: 45px;
  }
}

@media (max-width: 785px) {
  .tablet {
    display: block;
  }
  .circle-article {
    margin-top: 5.875em;
  }
  .box-wrapper {
    width: 70%;
  }
  .arrow-rig {
    display: none;
  }
}
@media (max-width: 500px) {
  body {
    min-width: 500px;
  }
  .container {
    scroll-snap-type: none;
  }
  #summary {
    height: 70vh;
  }
  #intro {
    height: fit-content;
  }
  #intro .circle-items__wrapper {
  }
  .text {
    font-size: 16px;
  }
  .header-title {
    font-size: 34px;
  }
  .header-wrapper {
    padding-top: 10px;
  }
  .nav-sub__logo a {
    font-size: 16px;
  }
  #theory {
    height: 85vh;
  }
  .phone-img {
    max-width: 350px;
  }
  .circle-article {
    margin-top: 85px;
  }
  #result {
    height: fit-content;
  }
  #conclu {
    height: fit-content;
  }
  .conclu-content {
    display: flex;
    flex-direction: column;
  }
  .conclu-head {
    margin-bottom: 10px;
  }
  .mobile {
    display: block;
  }
  .section-title {
    font-size: 28px;
  }
  .box-wrapper {
    width: 100%;
  }
  .arrow-rig {
    display: none;
  }
}
