* {
  box-sizing: border-box;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-black: black;
  --color-purple: #8e7be3;
  --color-blue: #1f90fc;
  --color-white: #f9fafb;
}
html {
  font-size: 16px;
  height: 100vh;
  line-height: 130%;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 70%;
  height: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.188em;
  color: #1f90fc;
  padding-top: 2em;
  font-weight: 700;
}
.text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125em;
  line-height: 160%;
  opacity: 0.85;
}
.section-title-sub {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 14px;
}
/* header */
.header-wrapper {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 80px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
}

.nav-sub__logo a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 1.4em;
  color: black;
}
.nav-item {
  font-family: "SpoqaHanSansNeo-Regular";
  padding-left: 4em;
  opacity: 0.85;
  font-size: 15px;
}
.header-title-eng {
  line-height: 150%;
  font-size: 0.875em;
  margin-bottom: 3.75em;
}
.header-title {
  font-size: 3rem;
  line-height: 130%;
  font-weight: 700;
  color: #6b74eb;
}
.header-title-sub {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 1.063em;
  font-weight: bold;
  margin-top: 0.875em;
  margin-bottom: 1.5em;
  opacity: 0.85;
}
.header-btn {
  all: unset;
  padding: 0.5em 1.5em;
  width: 10.625em;
  height: 44px;
  background-color: #6b74eb;
  border-radius: 12px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-btn i {
  font-size: xx-large;
  text-align: center;
  position: relative;
  bottom: 14%;
  margin-left: 3px;
}
/* summary */
section {
  height: 100vh;
  width: 100%;
}
#summary .section-title {
  margin-bottom: 4.5em;
}
/* intro */

#intro .text {
  margin-top: 6em;
  margin-bottom: 4em;
}

.circle-items__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.circle-item {
  width: 13.5em;
  height: 13.5em;
  background-color: var(--color-purple);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 0.5rem;
}
.circle-item__text {
  font-size: 18px;
  color: white;
  line-height: 160%;
  text-align: center;
  font-weight: 600;
}
/* article */

.graph-img {
  max-width: 600px;
  max-height: 400px;
  margin-top: 5.875em;
  margin-bottom: 4em;
  transform: translateX(46%);
}
